<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Aktivnost</h5>
            <form (ngSubmit)="add()">
                <div class="position-relative mb-3">
                    <label for="name" class="form-label">Naziv</label>
                    <input name="name" id="name" placeholder="Naziv aktivnosti" type="text" class="form-control" [(ngModel)]="activity.name">
                </div>
                <div class="position-relative mb-3">
                    <label for="description" class="form-label">Opis</label>
                    <textarea name="description" id="description" placeholder="Opis aktivnosti" class="form-control" [(ngModel)]="activity.description"></textarea>
                </div>
                <div class="position-relative mb-3">
                    <label for="description" class="form-label">Starosna dob</label>
                    <div class="row">
                        <input name="from" id="from" placeholder="od (npr. 0)" type="number" min="0" max="100" class="form-control me-2 age-from width-40" [(ngModel)]="ageFrom">
                        <input name="to" id="to" placeholder="od (npr. 9)" type="number" min="0" max="100" class="form-control width-40" [(ngModel)]="ageTo">
                    </div>
                </div>
                <div class="position-relative mb-3">
                    <label for="link" class="form-label">Eksterni Link</label>
                    <input name="link" id="link" placeholder="Link" type="text" class="form-control" [(ngModel)]="link">
                </div>
                <div class="position-relative mb-3">
                    <label for="keywords" class="form-label">Ključne riječi</label>
                    <input name="keywords" id="keywords" placeholder="Unesite ključne riječi odvojene zarezom (pr.: tobogan, rad rukama, igra)" type="text" class="form-control" [(ngModel)]="keywords">
                </div>
                <div class="position-relative mb-3">
                    <label for="exampleFile" class="form-label">Slika</label>
                    <input name="file" id="exampleFile" type="file" class="form-control">
                    <small class="form-text text-muted">Dodavanje slika aktivnosti. Polje nije obavezno.</small>
                </div>
                <app-toast [visible]="toastVisible" [message]="toastMessage"></app-toast>
                <button type="submit" class="mt-1 btn btn-primary float-end">Dodaj</button>
            </form>
        </div>
    </div>
</div>