<div class="h-100 bg-premium-dark">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title">
              <h4 class="mt-2">
                <div>Dobrodošli,</div>
                <span>Potrebno je samo <span class="text-success">nekoliko sekundi</span> da kreirate svoj nalog</span>
              </h4>
            </h5>
            <div class="divider"></div>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_" class="mb-3">
              <div>
                <input id="exampleInput1" type="email" placeholder="Unesite email..." required="required"
                  aria-required="true" class="form-control" aria-describedby="exampleInputGroup1__BV_description_"
                  [(ngModel)]="user.email" name="user.email">
                <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">
                  Nikada nećemo dijeliti vašu e-mail adresu ni sa kim.
                </small>
              </div>
            </div>
            <div id="exampleInputGroup12" role="group" class="mb-3">
              <div>
                <input id="exampleInput12" type="text" placeholder="Unesite korisničko ime..." required="required"
                  aria-required="true" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="mb-3">
                  <div>
                    <input id="exampleInput3" type="password" placeholder="Unesite šifru..." required="required" aria-required="true" class="form-control"
                      [(ngModel)]="user.password" name="user.password">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="exampleInputGroup2" role="group" class="mb-3">
                  <div>
                    <input id="exampleInput2" type="password" placeholder="Ponovite šifru..." required="required" aria-required="true" class="form-control"
                    [(ngModel)]="passwordMatch" name="passwordMatch">
                    </div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox form-check">
              <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="form-check-input" value="true" [(ngModel)]="terms" name="terms">
              <label for="exampleCheck" class="form-label form-check-label">
                Prihvatite naše <a [routerLink]="">uslove i odredbe</a>.
              </label>
            </div>
            <ngb-toast #toast [autohide]="true" [delay]="0" class="bg-danger text-light"> Šifre se ne slažu ili uslovi nisu prihvaćeni. </ngb-toast>
            <div class="divider"></div>
            <h6 class="mb-0">
              Već imate nalog?
              <a [routerLink]="['/login']" class="text-primary">Prijavite se</a>
              |
              <a [routerLink]="['/forgot-password']" class="text-primary">Vrati šifru</a>
            </h6>
          </div>
          <div class="modal-footer d-block text-center">
            <button type="button" class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-secondary btn-lg" (click)="register()">Kreirajte nalog</button>
          </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Playtime App
      </div>
    </div>
  </div>
</div>