<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [addNewLink]="addNewLink"></app-page-title>
<div class="mb-3 mr-1 card text-center text-white card-body bg-info">
    <h4 class="text-white card-title">Filtriranje</h4>
    <div class="row justify-content-center">
        <button *ngFor="let keyword of keywords;" class="col-md-1 mb-2 me-2 btn btn-pill" [ngClass]="keywordSelected(keyword) ? 'btn-light' : 'btn-primary'" (click)="toggleKeywordSelection(keyword)">{{keyword}}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6" *ngFor="let activity of activities; index as i; first as isFirst">
        <div class="main-card mb-3 card">
            <div class="card-header"><b>{{activity.name}}</b></div>
            <div class="card-body">
                <p class="height-100">{{activity.description}}</p>
                <p>Starosna dob: <b>{{activity.ageGroup.join(' - ')}}</b></p>
                <ngb-carousel *ngIf="activity.pictures" class="mb-0">
                    <ng-template ngbSlide *ngFor="let picture of activity.pictures;">
                      <img [src]="picture" class="carousel-img" alt="Random slide">
                    </ng-template>
                </ngb-carousel>
                <hr/>
                <a *ngFor="let link of activity.links;" href="{{link}}">{{link}}<br/></a>
                <hr/>
                <div class="row">
                    <div class="col-md-2"><b>Ocjene (1-5):</b></div>
                    <div class="col-md-10"><ngb-progressbar type="success" [max]="5" [value]="getAverageRating(activity.reviews, true)"><b>{{activity.reviews.length ? getAverageRating(activity.reviews) : 'Trenutno nema ocjena.'}}<fa-icon [icon]="faStar" class="ms-2"></fa-icon></b></ngb-progressbar></div>
                </div>
                <div *ngFor="let review of activity.reviews;">
                    <span>Ocjena: </span><b class="me-1">{{review.rating}}</b><fa-icon [icon]="faStar" class="me-2"></fa-icon>
                    <span>Opis: {{review.description}}</span>
                    <br/>
                </div>
            </div>
            <div class="d-block text-right card-footer">
                <div class="float-start">
                    <button *ngIf="buttonReview" class="btn btn-icon btn btn-info" routerLink="/review/{{activity.id}}"><i class="pe-7s-star btn-icon-wrapper"></i>Ostavi ocjenu</button>
                </div>
                <div class="float-end">
                    <button *ngIf="buttonEdit" class="me-2 btn btn-success btn-lg" routerLink="/activity/{{activity.id}}">Izmijeni</button>
                    <button *ngIf="buttonOpen" class="btn-shadow-primary btn btn-primary btn-lg">Otvori</button>
                </div>
            </div>
        </div>
    </div>
</div>