<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Dijete</h5>
            <form (ngSubmit)="addChild()">
                <div class="position-relative mb-3">
                    <label for="name" class="form-label">Ime</label>
                    <input name="name" id="name" placeholder="Ime djeteta" type="text" class="form-control" [(ngModel)]="child.name">
                </div>
                <div class="position-relative mb-3">
                    <label for="age" class="form-label">Godine</label>
                    <input name="age" id="age" placeholder="Broj godina" type="number" min="0" class="form-control" [(ngModel)]="child.age">
                </div>
                <div class="position-relative mb-3">
                    <label for="interests" class="form-label">Interesi</label>
                    <select multiple="multiple" name="interests" id="interests" class="form-select"  [(ngModel)]="child.interests">
                        <option>auta</option>
                        <option>crtici</option>
                        <option>citanje</option>
                        <option>lutke</option>
                        <option>balet</option>
                        <option>dinosauri</option>
                    </select>
                    <small class="form-text text-muted">Držate Ctrl za odabir više interesa.</small>
                </div>
                <div class="position-relative mb-3">
                    <label for="exampleText" class="form-label">Opis</label>
                    <textarea name="text" id="exampleText" class="form-control"></textarea>
                </div>
                <div class="position-relative mb-3">
                    <label for="exampleFile" class="form-label">Slika</label>
                    <input name="file" id="exampleFile" type="file" class="form-control">
                    <small class="form-text text-muted">Dodavanje slika djeteta. Polje nije obavezno.</small>
                </div>
                <app-toast [visible]="toastVisible" [message]="toastMessage"></app-toast>
                <button type="submit" class="mt-1 btn btn-primary float-end">Dodaj</button>
            </form>
        </div>
    </div>
</div>